<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Star Wars Starships</title>
</head>
<body>
<a href="/" style="text-decoration:none; padding:8px 12px; background:#007bff; color:white; border-radius:5px; margin-bottom:15px; display:inline-block;">
    🏠 Back to Home
</a>
<h1>Star Wars Starships</h1>
<form method="get" action="/starships">
    <input type="hidden" name="search" value="true"/>


    <label for="sortField">Sort by:</label>
    <select name="sort" id="sortField">
        <option value="name" th:selected="${sort == 'name'}">Name</option>
        <option value="created" th:selected="${sort == 'created'}">Created</option>
    </select>

    <label for="sortDir">Order:</label>
    <select name="asc" id="sortDir">
        <option value="true" th:selected="${asc}">Ascending</option>
        <option value="false" th:selected="${!asc}">Descending</option>
    </select>

    <button type="submit">Search</button>
</form>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Created</th>
        <th>Model</th>
        <th>Lenght</th>
        <th>Speed</th>
        <th>Crew</th>
        <th>Passengers</th>
        <th>Type</th>
        <th>Edited</th>
    </tr>
    <tr th:each="starship : ${starships.results}">
        <td th:text="${starship.name}"></td>
        <td th:text="${starship.created}"></td>
        <td th:text="${starship.model}"></td>
        <td th:text="${starship.length}"></td>
        <td th:text="${starship.speed}"></td>
        <td th:text="${starship.crew}"></td>
        <td th:text="${starship.passengers}"></td>
        <td th:text="${starship.type}"></td>
        <td th:text="${starship.edited}"></td>
    </tr>
</table>
<div class="pagination">
    <form method="get">
        <input type="hidden" name="page" th:value="${pageInfo.currentPage - 1}" />
        <input type="hidden" name="sort" th:value="${sort}" />
        <input type="hidden" name="asc" th:value="${asc}" />
        <input type="hidden" name="search" th:value="${search}" />
        <button type="submit" th:disabled="${pageInfo.currentPage == 1}">Previous</button>
    </form>

    <span th:text="'Page ' + ${pageInfo.currentPage} + ' of ' + ${pageInfo.totalPages}"></span>

    <form method="get">
        <input type="hidden" name="page" th:value="${pageInfo.currentPage + 1}" />
        <input type="hidden" name="sort" th:value="${sort}" />
        <input type="hidden" name="asc" th:value="${asc}" />
        <input type="hidden" name="search" th:value="${search}" />
        <button type="submit" th:disabled="${pageInfo.currentPage == pageInfo.totalPages}">Next</button>
    </form>
</div>
</body>
</html>
